/*#root{max-width:1280pxmargin:0autopadding:2remtext-align:center}.logo{height:6empadding:1.5emwill-change:filtertransition:filter300ms}.logo:hover{filter:drop-shadow(002em#646cffaa)}.logo.react:hover{filter:drop-shadow(002em#61dafbaa)}@keyframeslogo-spin{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@media(prefers-reduced-motion:no-preference){a:nth-of-type(2).logo{animation:logo-spininfinite20slinear}}.card{padding:2em}.read-the-docs{color:#888}*/ /*Styleglobal*/
body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header .logo img {
  max-height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #d0a339;
}

.main {
  padding: 20px;
}

.characters-list,
.comics-list,
.favorites-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.character-card,
.comic-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.character-card:hover,
.comic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.character-card img,
.comic-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.character-card h2,
.comic-card h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.character-card p,
.comic-card p {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}

.character-card button,
.comic-card button {
  background-color: #c8102e;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.character-card button:hover,
.comic-card button:hover {
  background-color: #a00e1b;
}

/* Styles spécifiques à la page des favoris */
.favorites {
  padding: 20px;
}

.favorites h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
